#choropleth_map {
	top: 5rem
}
.main{
	margin: 2rem;
}

.vg-tooltip {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  
  .vg-tooltip .key {
	color: black !important;
	display: inline;
	white-space: normal;
	overflow: visible;
	text-overflow: initial;
	max-width: none;
  }
  
  .vg-tooltip .value {
	font-weight:bold;
	display: inline;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	color: #1961aa;
  }